img{
   margin-left: 20%;
}

@keyframes devient_noir{
    
    0%{
       background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
    5%{
         background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    }
    10%{
        background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    }
    20%{
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    }
    30%{
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    }
    40%{
        background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    }
    50%{
        background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90));
    }
    60%{
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }
    70%{
         background: linear-gradient(rgba(0, 0, 0, 1.10), rgba(0, 0, 0, 1.10));
    }
    80%{
         background: linear-gradient(rgba(0, 0, 0, 1.20), rgba(0, 0, 0, 1.20));
    }
    90%{
         background: linear-gradient(rgba(0, 0, 0, 1.30), rgba(0, 0, 0, 1.30));
    }
    100%{
        background: linear-gradient(rgba(0, 0, 0, 1.50), rgba(0, 0, 0, 1.50));
    }
}

body{
      animation: devient_noir 5s;
    background: linear-gradient(to bottom, #b22222 15%, #A0522D 10%);
    
}
@keyframes un{
    0%{ position: absolute; left: 500px; bottom: 200px; font-size: 50px;}
    20%{ position: absolute; left: 540px; bottom: 240px; font-size: 50px;}
    30%{ position: absolute; left: 580px; bottom: 280px; font-size: 50px;}
    40%{ position: absolute; left: 620px; bottom: 320px; font-size: 50px; color: grey;}
    60%{ position: absolute; left: 660px; bottom: 360px; font-size: 50px;}
    80%{ position: absolute; left: 700px; bottom: 400px; font-size: 50px; color: white;}
    100%{ position: absolute; left: 740px; bottom: 440px; font-size: 50px; color: white;}
}
@keyframes deux{
    0%{ position: absolute; left: 540px; bottom: 240px; font-size: 50px;}
    20%{ position: absolute; left: 580px; bottom: 280px; font-size: 50px;}
    30%{ position: absolute; left: 620px; bottom: 320px; font-size: 50px;}
    40%{ position: absolute; left: 660px; bottom: 360px; font-size: 50px; color: grey;}
    60%{ position: absolute; left: 700px; bottom: 400px; font-size: 50px;}
    80%{ position: absolute; left: 740px; bottom: 440px; font-size: 50px; color: white;}
    100%{ position: absolute; left: 780px; bottom: 480px; font-size: 50px; color: white;}
}
@keyframes trois{
    0%{ position: absolute; left: 580px; bottom: 280px; font-size: 50px;}
    20%{ position: absolute; left: 620px; bottom: 320px; font-size: 50px;}
    30%{ position: absolute; left: 660px; bottom: 360px; font-size: 50px;}
    40%{ position: absolute; left: 700px; bottom: 400px; font-size: 50px; color: grey;}
    60%{ position: absolute; left: 740px; bottom: 440px; font-size: 50px;}
    80%{ position: absolute; left: 780px; bottom: 480px; font-size: 50px; color: white;}
    100%{ position: absolute; left: 820px; bottom: 520px; font-size: 50px; color: white;}
}

#un{
animation: un 3s;
}

#deux{
animation: deux 3s;
}

#trois{
animation: trois 3s;
}

#fauteil1{
    width: 35%;
    position: relative;
    bottom: 550px;
    right: 360px;
}
#plante{
    width: 20%;
    position: relative;
    bottom: 1000px;
    left: 300px;
}

#horloge{
    width: 7%;
    position: relative;
    bottom: 1090px;
    right: 990px;
}

#lampe{
    width: 12%;
    position: relative;
    bottom: 1150px;
    left: 650px;
}

#cafe{
    width: 5%;
    position: relative;
    bottom: 1050px;
    right:510px;
}

#reveil{
position: relative;
bottom: 900px;
left: 560px;
}