body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0.65)
                ),url("../background_appart/salon/images/salon.png")no-repeat;
    color: white;
}


#samedi{
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
    font-size: 60px;
}
.choix{
    margin-left: 9%;
    font-size: 30px;
}

#courrier{
    position: relative;
    bottom: 211px;
    left: 500px;
}

input{
    background-color:#808000;
    font-size: 40px;
    margin: 2%;

}
.btn{
    color: #3CB371;
    padding: 2%;
    position: relative;
    left: 200px;
}

#courriers{
    position: relative;
    bottom: 210px;
    left: 60%;
}