body{
     background: linear-gradient(
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0.85)
                ),url("images/salle_a_manger_g-p.png")no-repeat;
background-size: cover;
 color: white;
}


.elle{
    color: #FF6347;
}

.moi{
     color:#00CED1;
}

p{
    font-size: 24px;
    text-align: center;
}

#continuer{
    position: relative;
    left: 47%;
}