body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.15),
                rgba(0, 0, 0, 0.15)
                ),url("../images/bureau.png")no-repeat;
    color: white;
}

#tournevis{
    width: 5%;
animation: tournevis 3s;
animation-fill-mode: both;
}

@keyframes tournevis{
    0% {position: relative; left: 75%; top: 299px; transform: rotate(50deg);}
    25% {position: relative; left: 75%; top: 293px; transform: rotate(10deg);}
    50% {position: relative; left: 75%; top: 350px; transform: rotate(90deg);}
    75%{position: relative; left: 75%; top: 328px; transform: rotate(50deg);}
    100%{position: relative; left: 80%; top: 300px;}
}

p{
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 15px;
}

#continuer{
    font-size: 30px;
    position: relative;
    top: 190px;
    left: 49%;
}