body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.95),
                rgba(0, 0, 0, 0.95)
                ),url("images/salle_a_manger_g-p.png")no-repeat;
background-size: cover;
 color: white;
}


#photo{
 animation: photo 3s forwards;
}

@keyframes photo{
    0% {position: relative; left: 90%; top: 20%; }
    50% {position: relative; left: 1%; top: 20%; }
    100% {position: relative; left: 40%; top: 20%;}
}

div{
 animation: ombre 2s forwards ;
 animation-delay: 3s;
}

@keyframes ombre{
    0%  {filter: contrast(100%); }
    10% {filter: contrast(90%); }
    20% {filter: contrast(80%); }
    30% {filter: contrast(70%); }
    40% {filter: contrast(60%); }
    50% {filter: contrast(50%); }
    60% {filter: contrast(40%); }
    70% {filter: contrast(30%); }
    80% {filter: contrast(20%); }
    90% {filter: contrast(10%); }
    100% {filter: contrast(0%); }
}

h2, p{
 text-align: center;
 color: #0131B4;
 font-size: 21px;
animation: texte 16s forwards;
}

h2{
 font-size: 35px;
 color: blue;
}

@keyframes texte{
 0% {position: relative; top: 600px;}
 100% {position: relative; bottom: 310px;}
}

#continuer{
 position: relative;
 bottom: 280px;
 left: 46%;
}