body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0.75)
                ),url("images/maison_abandonner.png")no-repeat;
background-size: cover;
color: white;
}

p{
    text-align: center;
    font-size: 50px;
}

#continuer{
    position: relative;
    left: 44%;
}