body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.55),
                rgba(0, 0, 0, 0.55)
                ),url("images/maison_abandonner.png")no-repeat;
background-size: cover;
color: white;
}

p{
    text-align: center;
    font-size: 45px;
}

.choix{
    margin-left: 8%;
    font-size: 35px;
}

#clef{
     
    position: relative;
    bottom: 10px;
    left: 210px;
    padding-left: 55px;
    padding-right: 55px;
}

#forcer{

    position: relative;
    bottom: 217px;
    left: 65%;
}

#forcer_label{
   
    position: relative;
    bottom: 196px;
    left: 57%;
}

#clef_label{
    position: relative;
    bottom: -10px;
    right: 25px;
}

/*les boutons en eux meme*/
input{
    background-color:#808000;
    font-size: 40px;
    margin: 2%;
}

.btn{
    color: #3CB371;
    padding: 2%;
    position: relative;
    left: 200px;
}