body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.35),
                rgba(0, 0, 0, 0.35)
                ),url("images/maison_abandonner.png")no-repeat;
background-size: cover;
color: white;
}

#clef{
animation: clef 7s;
animation-fill-mode: forwards;
}

@keyframes clef{
    0% {width: 10%; position: relative; top: 450px; left: 930px; }
    40% {width: 5%; position: relative; top: 450px; left: 930px; transform: rotate(-20deg); }
    60% {width: 5%; position: relative; top: 450px; left: 930px; transform: rotate(20deg);}
    80% {width: 5%; position: relative; top: 450px; left: 930px; }
    100% {width: 5%; position: relative; top: 400px; left: 960px;}
}

#continuer{
    position: relative;
    top: 250px;
    left: 33%;
}

p{
    text-align: center;
    font-size: 45px;
}