body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.55),
                rgba(0, 0, 0, 0.55)
                ),url("images/salon_ak_cafe.png")no-repeat;
background-size: cover;
color: white;
}

p{
    text-align: center;
    font-size: 52px;
}

#texte{
        margin-top: 160px;
}

#continuer{
    font-size: 30px;
    position: relative;
    top: 35px;
    left: 550px;
}