body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
                ),url("images/maison_g-p.png")no-repeat;
background-size: cover;
color: white;
}

p{
    text-align: center;
    font-size: 45px;
}

.choix{
    margin-left: 8%;
    font-size: 35px;
}

#garder{
    position: relative;
    left: 180px;
    padding-left: 55px;
    padding-right: 55px;
}

#demander{

    position: relative;
    bottom: 217px;
    left: 64%;
}

#demander_label{
   
    position: relative;
    bottom: 210px;
    left: 43%;
}

#garder_label{
    position: relative;
    bottom: -10px;
    left: 10px;

}

/*les boutons en eux meme*/
input{
    background-color:#808000;
    font-size: 40px;
    margin: 2%;
}

.btn{
    color: #3CB371;
    padding: 2%;
    position: relative;
    left: 200px;
}