body{
   background: linear-gradient(to bottom, #b22222 80%, blue 55%);
}

#cuisine{
    width: 47%;
    position: relative;
    right: 46px;
}

#frigo{
    width: 15%;
    position: relative;
    bottom: 20px;
    right: 60px;
}

#lave_vaisselle{
    width: 19.2%;
    position: relative;
    bottom: 43px;
    right: 60px;
}

#plante{
    width: 10%;
    position: relative;
    bottom: 60px;
    left: 10px;
}