body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0.85)
                ),url("images/salon_ak_cafe.png")no-repeat;
background-size: cover;
color: white;
}

#portable{
    animation: portable 2s;
    animation-fill-mode: forwards;
  
}

@keyframes portable{
    0% {width: 1%; position: relative; top: 280px; left: 50%;}
    100% {width: 15%; position: relative;top: 100px; left: 38%;}
}

#conversation{
    position: relative;
    bottom: 320px;
    font-size: 22px;
    line-height: 11%;
}
.moi{
    margin-left: 2%;
    color: #B0E0E6;
}

.elle{
    color: #FFC0CB;
    margin: 2%;
}

#conversation2{
    position: relative;
    left: 750px;
    bottom: 730px;
    font-size: 22px;
    line-height: 11%;
    margin: 1%;
}
  

#suivant{
    position: relative;
    bottom: 750px;
    left: 577px;
}