body{
    background: linear-gradient(
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0.85)
                ),url("images/salon_ak_cafe.png")no-repeat;
background-size: cover;
}

#enveloppe{
position: relative;
top: 122px;
left: 452px; 
animation: enveloppe 3s;
animation-fill-mode: forwards;
}


@keyframes enveloppe{
    0%  {filter: contrast(100%); }
    10% {filter: contrast(90%); }
    20% {filter: contrast(80%); }
    30% {filter: contrast(70%); }
    40% {filter: contrast(60%); }
    50% {filter: contrast(50%); }
    60% {filter: contrast(40%); }
    70% {filter: contrast(30%); }
    80% {filter: contrast(20%); }
    90% {filter: contrast(10%); }
    100% {filter: contrast(0%); }
}

#message{
    animation: message 5s;
    width: 10%;
    position: relative;
    top: 90px;
    animation-fill-mode: forwards;
}

@keyframes message{
    0% {width: 10%; bottom: 60px;}
    100% {width: 30%;}
}

#clef{
    animation: clef 5s;
    width: 1%;
    position: relative;
    top: 90px;
    right:  65px;
    animation-fill-mode: forwards;
}

@keyframes clef{
    0% {width: 1%; bottom: 60px;}
    100% {width: 5%;}
}

@keyframes texteA{
    0% {transform: rotate(20deg); position: relative; right: 200px; bottom: -130px; }
    100% {transform: rotate(20deg); position: relative; left: 500px; bottom: -130px; }
}
#texteA{
animation: texteA 14s;
animation-fill-mode: forwards;
}

@keyframes texteB{
    0% {transform: rotate(28deg); position: relative; right: 565px; bottom: -230px; }
    100% {transform: rotate(28deg); position: relative; left: 365px; bottom: -230px; }
}
    
#texteB{
animation: texteB 14s;
animation-fill-mode: forwards;
}

#suivant{
    position: relative;
    left: 600px;
    top: 70px;
}